<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Alojamentos</title>
</head>
<body>
    <h1>Listar Alojamentos</h1>
    <ul>
        {% for alojamento in alojamentos %}
            <li>{{ alojamento.id_alojamento }} - Renda Base: {{ alojamento.renda_base }} - Senhorio: {{ alojamento.id_senhorio }}</li>
        {% endfor %}
    </ul>

    <!-- Adicionando links para os outros templates CRUD -->
    <h2>Opções de Gerenciamento de Alojamentos:</h2>
    <ul>
        <li><a href="{% url 'criar_alojamento' %}">Criar Alojamento</a></li>
        <li><a href="{% url 'detalhes_alojamento' 1%}">Detalhes do Alojamento</a></li>
        <li><a href="{% url 'atualizar_alojamento' 1%}">Atualizar Alojamento</a></li>
        <li><a href="{% url 'apagar_alojamento' 1%}">Apagar Alojamento</a></li>
    </ul>
    <h2>opções de outros items</h2>
    <ul>
        <li><a href="{% url 'gerenciar_estudantes' %}">Gerenciar Estudantes</a></li>
        <li><a href="{% url 'gerenciar_senhorios' %}">Gerenciar Senhorios</a></li>
    </ul>
</body>
</html>