{% extends 'base.html' %}



<div class="container">
    <main role="main">
        <section class="banner-section text-center">
            <h1 class="main-title">Bem-vindo ao TechAconchego</h1>
            <img src="https://via.placeholder.com/800x400" alt="Imagem do Banner" class="img-fluid">
            <div class="banner-content">
                <p>A sua solução única para uma vida confortável</p>
                <a href="#" class="btn btn-primary btn-lg">Começar</a>
            </div>
        </section>
        <section class="features-section text-center mt-5">
            <div class="row">
                <div class="col-md-4">
                    <div class="feature-box">
                        <i class="fa fa-home"></i>
                        <h3>Alojamentos de Qualidade</h3>
                        <p>Explore uma variedade de alojamentos de alta qualidade adaptados às suas necessidades.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-box">
                        <i class="fa fa-search"></i>
                        <h3>Pesquisa Fácil</h3>
                        <p>Encontre facilmente o lugar perfeito com as nossas opções de pesquisa amigáveis.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-box">
                        <i class="fa fa-cogs"></i>
                        <h3>Gestão de Utilizador</h3>
                        <p>Gerencie a sua conta, pagamentos e preferências de forma fácil.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>


